@import 'variables';

.detail-view {

    .header-section {

        .hero-foot {

            padding: 20px 0;

        }

        .column {

            padding: 20px;

            &.image-column{

                transform: translateY(50%);

                @media screen and (max-width: $mobile-max-width) {

                    transform: translateY(0%);

                }

                > .image {

                    border: solid 2px;
                    border-radius: 8px;
                    width: 100%;

                }

            }

            &.text-column {

                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                .subtitle a {

                    border-bottom: solid 1px white;

                    &:hover {

                        opacity: .8;

                    }
                }

            }

        }

    }

    .content-section {

        .contact-information {

            min-height: 150px;
            padding: 20px 0;
            padding-left: 300px;


            .tag{

                &:hover {
                    opacity: .8;
                }

                &:not(:last-child) {
                    margin-right: 20px;
                }

            }

            @media screen and (max-width: $mobile-max-width) {

                .is-flex {
                    flex-direction: column;
                    padding: 0 20px;
                }


                .tag{

                    &:not(:last-child) {
                        margin-bottom: 20px;
                        margin-right: 0;
                    }

                }

                padding-left: 0;
                min-height: 150px;

            }

        }

        .container > .section {
            padding: 20px 20px;
            background: none;
        }

        .bio .content {
            text-align: justify;
        }

    }

}
