@import 'variables';

html {
    overflow: auto;
    font-family: 'Open Sans';
}

body {
    font-family: $body-font;
}

.title {
    font-family: $title-font;
    text-transform: uppercase;
}

.hero.is-primary {

    background-color: $primary-color;

    &.is-bold {
        background: linear-gradient(141deg, $primary-color-hover 0, $primary-color 71%, $primary-color-active 100%)
    }

}

.is-secondary {

    background-color: $secondary-color;
    border-color: $secondary-color-active;

    &.button:hover {
        background-color: $secondary-color-hover;
    }

    &.button.is-active {
        background-color: $secondary-color-active;
    }

}

.is-cta {

    background-color: $cta-color;
    border-color: $cta-color-active;
    color: white;


    &.button:hover {
        background-color: $cta-color-hover;
        color: white;
    }

    &.button.is-focused,
    &.button:focus,
    &.button.is-active {
        background-color: $cta-color-active;
        color: white;
    }

}

.has-shadow {
    box-shadow: 0 2px 3px rgba(10,10,10,.1);
}

#navbar {

    .mobile-menus {
        z-index: 0;
        position: absolute;
        width: 100%;
        top: 0;
        padding-top: 50px;
        height: 0;
    }

    .mobile-menu, .invisible-wall {

        transition: transform .3s;
        transform: translateY(-100%);

        &.visible {

            transform: translateY(0%);

        }

    }

    .invisible-wall {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
    }

    .mobile-menu .search-input {
        min-width: 50vw;
    }

    .menu-list a.is-active {

        background-color: initial;

    }

}

.page-section {

    &.is-dark, &.is-primary {

        .section {
            background: none;
        }

        .content {
            color: white;
        }

    }

    .columns.is-reversed {

        flex-direction: row-reverse;

    }

    .text-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .button.is-cta {
            align-self: center;
        }

    }

    .image-column {

        display: flex;
        justify-content: center;
        align-items: center;

        img {

            max-height: 50vh;

        }

    }

}
